html
	width: 100%
	font-family: Arial, 'Open Sans', sans-serif

	.clearfix:before,
	.clearfix:after
		display: table
		content: " "
		line-height: 0
	
	.clearfix:after 
		clear: both

	body
		margin: 0 auto
		background: white

	#container, #rules, #winner_container
		width: 90%
		margin: 0 auto

	#rules, #winner_container
		margin-top: 2em
		font-weight: bold
		text-align: center

	#winner_container
		color: blue
		height: 2em

	#container 
		margin-top: 8.5em;

	#header
		top: 0
		width: 100%
		z-index: 100
		max-width: 100%
		position: fixed
		background: black

		h1, h2 
			color: white
			cursor: pointer

	#header, #grid
		width: 100%
		margin: 0 auto
		text-align: center

	#player_container, #score_container
		margin-bottom: 2em
		width: 100%
		*		
			vertical-align: middle
			text-align: center
		div
			//border: solid 1px black
			vertical-align: middle
			width: 300px

	#score_container
		div
			border: solid 1px black
			line-height: 100px
			font-size: 2em
			height: 100px

	#player_container 
		div
			height: 300px
			line-height: 300px

		img
			position: relative

	#game_options button
		float: left
		width: 100px
		height: 50px
		outline: none
		font-size: 1em
		cursor: pointer

	#start_button
		float: right
		width: 300px
		height: 50px
		font-size: 2em
		cursor: pointer

